.audio {
	width: 100%;
	display: none;
}

.audio.active {
	display: initial;
}

.songs {
	background: black;

	-webkit-flex: 1;
	flex: 1;

	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.song {
	background: white;
	cursor: default;
	margin-top: 1px;
	margin-bottom: 1px;
	padding: 1px;
}

.song.exclude {
	display: none;
}

.tag {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.tag.title {
	font-weight: bold;
}
