html, body {
	height: 100%;
}

body {
	margin: 0;

	display: -webkit-flex;
	display: flex;

	-webkit-flex-direction: column;
	flex-direction: column;
}

.form {
	background: white;
	display: none;
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 1;
}

.form.active {
	display: initial;
}

.audio {
	display: none;
}

.audio.active {
	display: initial;
}

.songs {
	-webkit-flex: 1;
	flex: 1;

	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.song {
	border: 1px solid black;
}
